<?php

/** @var \Magenest\Movie\Block\Blog $block */
$blogCollection = $block->getBlogCollection();
if ($blogCollection->count()) {
    ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                <th scope="col" class="col title"><?php echo __('Title') ?></th>
                <th scope="col" class="col title"><?php echo __('Url Rewrite') ?></th>
                <th scope="col" class="col title"><?php echo __('Detail') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($blogCollection as $item): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('ID')) ?>" class="col id">
                        <?php echo $item->getId() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Title')) ?>" class="col title">
                        <?php echo $item->getTitle() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Url Rewrite')) ?>" class="col url">
                        <?php echo $item->getUrlRewrite() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Detail')) ?>" class="col detail">
                        <a href="<?php echo $block->getUrl($item->getUrlRewrite()) ?>">Detail</a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>

    <?php
}
?>
