<?php

/** @var \Magenest\Movie\Block\Blog $block */
$detail = $block->getBlog();
?>
<div class="table-wrapper orders-history">
    <table class="data table table-order-items history" id="my-orders-table">
        <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
        <thead>
        <tr>
            <th scope="col" class="col id"><?php echo __('ID') ?></th>
            <th scope="col" class="col name"><?php echo __('Title') ?></th>
            <th scope="col" class="col name"><?php echo __('Description') ?></th>
            <th scope="col" class="col name"><?php echo __('Content') ?></th>
            <th scope="col" class="col name"><?php echo __('Url Rewrite') ?></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-th="<?php echo $block->escapeHtml(__('ID')) ?>" class="col id">
                <?php echo $block->getBlogId() ?>
            </td>
            <td data-th="<?php echo $block->escapeHtml(__('Name')) ?>" class="col name">
                <?php echo $detail->getTitle() ?>
            </td>
            <td data-th="<?php echo $block->escapeHtml(__('Description')) ?>" class="col description">
                <?php echo $detail->getDescription() ?>
            </td>
            <td data-th="<?php echo $block->escapeHtml(__('Content')) ?>" class="col content">
                <?php echo $detail->getContent() ?>
            </td>
            <td data-th="<?php echo $block->escapeHtml(__('UrlRewrite')) ?>" class="col url_rewrite">
                <?php echo $detail->getUrlRewrite() ?>
            </td>
        </tr>
        </tbody>
    </table>
</div>

?>

