<?php
    $directorCollection = $block->getDirectorCollection();
    if ($directorCollection->count()) {
?>
<div class="table-wrapper orders-history">
    <table class="data table table-order-items history" id="my-orders-table">
        <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
        <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                <th scope="col" class="col name"><?php echo __('Name') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($directorCollection as $item): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('ID')) ?>" class="col id">
                        <?php echo $item->getId() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Name')) ?>" class="col name">
                        <?php echo $item->getName() ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>

<?php
 }
 ?>

<?php
    $actorCollection = $block->getActorCollection();
    if ($actorCollection->count()) {
?>
<div class="table-wrapper orders-history">
    <table class="data table table-order-items history" id="my-orders-table">
        <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
        <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                <th scope="col" class="col name"><?php echo __('Name') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($actorCollection as $item): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('ID')) ?>" class="col id">
                        <?php echo $item->getId() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Name')) ?>" class="col name">
                        <?php echo $item->getName() ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>

<?php
 }
 ?>

<?php
    $movieCollection = $block->getMovieCollection();
    if ($movieCollection->count()) {
?>
<div class="table-wrapper orders-history">
    <table class="data table table-order-items history" id="my-orders-table">
        <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
        <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                <th scope="col" class="col name"><?php echo __('Name') ?></th>
                <th scope="col" class="col description"><?php echo __('Description') ?></th>
                <th scope="col" class="col rating"><?php echo __('Rating') ?></th>
                <th scope="col" class="col director_name"><?php echo __('Director Name') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($movieCollection as $item): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('ID')) ?>" class="col id">
                        <?php echo $item->getId() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Name')) ?>" class="col name">
                        <?php echo $item->getName() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Description')) ?>" class="col description">
                        <?php echo $item->getDescription() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Rating')) ?>" class="col rating">
                        <?php echo $item->getRating() ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('DirectorName')) ?>" class="col director_name">
                        <?php echo $item->getDirectorName() ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>

<?php
 }
 ?>