<div class="field required review-field-ratings">
    <div class="control review-control-vote" >
        <!--  ko foreach: $col.getLabel($row())   -->
        <!-- ko if: $data == "selected"-->
        <span style="color: red;">★</span>
        <!--/ko-->
        <!-- ko if: $data != "selected"-->
        <span style="color: rgb(0, 0, 0);">★</span>
        <!--/ko-->
        <!--    /ko    -->
    </div>
</div>
