<button id="sample">
    <?= $this->getData('title') ?>
</button>

<style>
    #sample {
        border-radius: 5px;
        width: <?= $this->getData('width') ?>;
        height: <?= $this->getData('height') ?>;
        color: <?= $this->getData('color') ?>;
    }
</style>
