<section class="dashboard-advanced-reports" data-index="dashboard-advanced-reports" style="border-top: none;">
    <h2 style="margin-bottom: 0px;">Request Made Today</h2>
</section>
<div class="dashboard-container row">
    <div class="dashboard-main col-m-6">
        <span>all module: <?= $block->countAllModule();  ?><br></span>
        <span>vendor module: <?= $block->countVendorModule();  ?></span>
    </div>
    <div class="dashboard-secondary col-m-6">
        <span>customer: <?= $block->countCustomer();  ?><br></span>
        <span>product: <?= $block->countProduct();  ?><br></span>
        <span>order: <?= $block->countOrder();  ?><br></span>
        <span>invoice: <?= $block->countInvoice();  ?><br></span>
        <span>creditmemo: <?= $block->countCreditmemo();  ?><br></span>

    </div>
</div>
